    <body onload="get_file('first.cpp')">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://dl2.macupdate.com/images/icons256/27014.png?d=1549389872" width="50" height="50" class="d-inline-block align-top" alt="" >
            How to code in CUDA paralel
        </a>
        <select class="custom-select" onchange='izbral_temo()' id="selection">
          <option selected value="cuda">learn CUDA</option>
          <option value="opencl">learn OpenCL</option>
        </select>

      </nav>


      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-3">
            <h1>CUDA Programming Model Basics</h1>
            Before we jump into CUDA C code, those new to CUDA will benefit from a basic description of the CUDA programming model and some of the terminology used.

            The CUDA programming model is a heterogeneous model in which both the CPU and GPU are used. In CUDA, the host refers to the CPU and its memory, while the device refers to the GPU and its memory. Code run on the host can manage memory on both the host and device, and also launches kernels which are functions executed on the device. These kernels are executed by many GPU threads in parallel.

            Given the heterogeneous nature of the CUDA programming model, a typical sequence of operations for a CUDA C program is:

            Declare and allocate host and device memory.
            Initialize host data.
            Transfer data from the host to the device.
            Execute one or more kernels.
            Transfer results from the device to the host.
            Keeping this sequence of operations in mind, let’s look at a CUDA C example.
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-9 offset-md-3">
            <h2>A First CUDA C Program</h2>
            In a recent post, I illustrated Six Ways to SAXPY, which includes a CUDA C version. SAXPY stands for “Single-precision A*X Plus Y”, and is a good “hello world” example for parallel computation. In this post I will dissect a more complete version of the CUDA C SAXPY, explaining in detail what is done and why. The complete SAXPY code is:
          </div>
        </div>
        <div class="row top-buffer">
          <div class="col-md-9 offset-md-3" id="file_prog" >
          </div>
        </div>
      </div>
    </body>
