

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}



.bg-image {
  /* The image used */
  background-image: url("http://blogs.edweek.org/edweek/inside-school-research/Hand-Raised-Young-Boy-Classroom-GETTY-Blog-560x292.jpg");

  /* Add the blur effect */


  /* Full height */
  height: 100%;
	width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.main {
  max-width: 600px;
  max-height: 600px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin: 0 auto;
  margin-top: 100px;
	color: white;
	text-align: center;
}

.main .hisAns{
	margin-top: 20px;
}
