.uploads{
  color:white;
  border-radius: 25px;
  padding: 15px;
  background: #325ca8;
  max-width: 700px;
  position: absolute;
  top: 30%;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#dataButton{
  color:white;
  left: 59%;
}

.status{
  color:white;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


body {
	background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555286522/shape/mentalfloss/istock-487359776.jpg?itok=_wpY_9ES") !important;
	/* Full height */
	height: 100%;
	width: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
